<h4>Envelopes</h4>

<table class='envelopes striped bordered responsive-table'>
  <thead>
    <tr>
      <th class="truncate">Name</th>
      <th class="right-align">Amount</th>
      <th class="right-align">$20</th>
      <th class="right-align">$10</th>
      <th class="right-align">$5</th>
      <th class="right-align">$1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Groceries</td>
      <td class="right-align">$235</td>
      <td class="right-align">11</td>
      <td class="right-align">1</td>
      <td class="right-align">1</td>
      <td class="right-align">0</td>
    </tr>
    <tr>
      <td>Pocket Ones</td>
      <td class="right-align">$5</td>
      <td class="right-align">0</td>
      <td class="right-align">0</td>
      <td class="right-align">0</td>
      <td class="right-align">5</td>
    </tr>
    <tr>
      <td>Gas</td>
      <td class="right-align">$200</td>
      <td class="right-align">10</td>
      <td class="right-align">0</td>
      <td class="right-align">0</td>
      <td class="right-align">0</td>
    </tr>
    <tr>
      <td>Totals</td>
      <td class="right-align">$440</td>
      <td class="right-align">21</td>
      <td class="right-align">10</td>
      <td class="right-align">0</td>
      <td class="right-align">5</td>
    </tr>
  </tbody>
</table>