<!DOCTYPE html>
<html>
  <head>
    <title>Count The Cash</title>
    <%= favicon %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>     
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo left hide-on-med-and-up">Cash!</a>
          <a href="/" class="brand-logo left hide-on-small-only">Count The Cash!</a>
          <ul id="nav-mobile" class="right">
            <li><a href="#">New Envelope</a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </div>
      </div>   
    </nav>
    <div class="container"> 
      <%= yield %>
    </div>
  </body>
</html>
